
<% if @user.role? :admin %>
Hi <%= @user.firstname %>,
<br><br>
Your brand new Meritize account is ready! Thanks for signing up. Your username is your email address <%= @user.email %>. You can log in at https://meritize.herokuapp.com using this temporary password:<b> <%= @random_password %></b>.

Don't hesitate to contact us at  support@imeritize.com if you have any questions.
<br><br>
Best regards,
<br>
Meritize support team
<br>
www.imeritize.com

<% else %>
Hi <%= @user.firstname %>,
<br><br>
<%= @user.admin_user.fullname %> at your organization has created a Meritize login for you. Meritize is an employee rewards and recognition software. You can send props to others in your organization or vote for them to win an award. You can log in at https://meritize.herokuapp.com with your email address <%= @user.email %> and password <b><%=@random_password %></b>. 
<br><br>
Click <a href="http://www.imeritize.com/demo/useroverview/tutorial.html">here</a> to watch a guided training video. Don't hesitate to contact us at support@imeritize.com if you have any questions. You can also reach <%= @user.admin_user.fullname %> at <%= @user.admin_user.email %>
<br><br>
Best regards,
<br>
Meritize support team  
<br>
www.imeritize.com

<% end %> 
    
	
