<!-- Signin Page -->

<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>


<body id="signup">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h3 class="logo">
					<a href="#"><img src="/assets/logo.png" alt=""></a>
				</h3>
				<h4>Sign in to your account.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<%= form_for(:session, :url => sessions_path,:html => {:id=>"signin" } ) do |f| %>
							  		<div class="form-group">
							    		<label for="email">Email address</label><span class="star">*</span>
							    		<%= f.text_field :email, :class => "form-control" %>
							    		
							  		</div>
							  		<div class="form-group">
							    		<label for="password">Password</label><span class="star">*</span>
							    	     <%= f.password_field :password, :class => "form-control" %>
							  		</div>
							  		<div class="checkbox">
							    		
							    			<%= check_box_tag :remember_me, 1, params[:remember_me], :type => "checkbox" %>
							      			<%= label_tag :remember_me %>
							    		
							  		</div>
							  		<p><%= link_to "Forgot Password?", new_password_reset_path %></p>
							  		<div class="submit">
							  			<%= f.submit "Sign in to my account", :class =>"button-clear"%>
								  										  									  		</div>
							<% end %>
							</div>
						</div>						
					</div>
				</div>
				<div class="already-account">
					Don't have an account?

                     <% if signed_in? %>
					<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
					<% else %>

                 <%= link_to "Create one here", signup_path %>

                <% end %>
               </div>
			</div>
		</div>
	</div>

</body>








