
<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>

<body id="signup">
<div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
          <h1>Forgot Password? </h1>
                    

           <%= form_for @user, :url => password_reset_path(params[:id]),:html =>{:id =>"password-edit"} do |f| %>

            <% if @user.errors.any? %>
              <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                  <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %> 
            <div class="form-group">

              <h3>Enter the new password you received via email</h3>

                <label for="name">New password</label>
                
                  <%= f.password_field :password ,:class=> "form-control"%>
              </div>
               <div class="form-group">
                <label for="name">New password confirmation</label>
                
                  <%= f.password_field :password_confirmation ,:class=> "form-control"%>
              </div>
              
              
              <div class="submit">
                <%= f.submit "Change my password",:class=>"button button-small" %>
              
              </div>
          <% end %>


       </div>


            </div>            
          </div>