<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>

<!-- Forgot Password Page -->

    <body id="signup">
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				
				<h4> Forgot password? </h4>
				   <p>
						Enter your email address and in just a minute we will send you a link to reset your password.
					</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<div class="formy">
						<div class="row">
							<div class="col-md-12">
								<section class="round">
									<% flash.each do |key, value| %>
										<div class="flash <%= key %>"><b><%= value %></b></div><br>
									<% end %>
							  		
								<%= form_tag password_resets_path,:id => "forgot-form", :method => :post do %>	

							  		<div class="form-group">
				    		        <label for="name">Email address</label>
				    		        <%= text_field_tag :email, params[:email],:class=> "form-control" %>
				  		            </div>

                                    
							  		<div class="submit">
							  			<%= submit_tag "Reset password",:class=>"button-clear" %>&nbsp;&nbsp;<%= link_to "Back to log in", signin_path, :class=>"button-clear" %>
							  			</div>
							  			
							<% end %>
							</div>
						</div>						
					</div>
				