


<%= stylesheet_link_tag "application"%>

  <div id="info">
  <div class="container">
 

        <%= form_for(@nominee) do |f| %> 
      <div class="row"></div>
      
      <% if @nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nominee.errors.count, "error") %> prohibited this nominee from being saved:</h2>

      <ul>
      <% @nominee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>


      <div class="container">
      <h1>Add Nominee</h1>
       <table class="table table-hover table-responsive table-condensed">
       <tbody>     
       


            
    
           
            <tr>
              <td>  
                <label class="control-label">Start_Cycle</label>
              </td>
              <td>
         
               <%= select("nominee", "start_cycle", VoteSetting.find_all_by_user_id(current_user.id).collect {|p| [ p.start_cycle.strftime("%Y-%m-%d"), p.start_cycle ] }, {}, :class=>"form-control") %>
              </td>
            </tr>


            <tr>
              <td>  
               <label class="control-label">End_Cycle</label>
              </td>
              <td>
            
              <%= select("nominee", "end_cycle", VoteSetting.find_all_by_user_id(current_user.id).collect {|p| [ p.end_cycle.strftime("%Y-%m-%d"), p.end_cycle ] }, {}, :class=>"form-control") %>
              </td>
            </tr>

             



            <tr>
              <td>
                <label class="control-label">Name</label>
                </td>
                <td>
                <%= f.collection_select :fullname, User.find_all_by_admin_user_id(current_user.id), :fullname,:fullname,{},{:class=>"form-control"} %></br>
                </td>
            </tr>

           


            <tr>
              <td>
               <label class="control-label">Email</label>
               </td>
               <td>
            
               <%= f.collection_select :email, User.find_all_by_admin_user_id(current_user.id), :email,:email,{},{:class=>"form-control"} %></br>
               </td>
            </tr>

             <div class = "field">
            <%= f.hidden_field :admin_user_id , :value => current_user.id %>
            <%= f.hidden_field :firstname, :value => @users %>
            <%= f.hidden_field :lastname, :value => @users  %>
             </div>


            
          

     <tr>
     <td></td>
      <td>
        <%= f.submit "Add", :class => "btn btn-primary"%>
      </td>
     </tr>      
    
      <% end %>
       </tbody>
    </table>
   </div>   
</div>
