

  <script>
  var data = <%= raw @searchuser %>;


  jQuery(function() {

    jQuery( "#search" ).autocomplete(
    {
       source:data
    });
      
  });
  </script>



  <div id="info">   
      
      <div class="container">

      <div class="jumbotron">
        <p>Use this page to nominate who can win the award. You don't have to have nominees. If you don't have any nominees, your voters can vote for any voter. If you do have nominees, your voters will have to vote for one of the nominees.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
      </div>


      <div class="form-group">
          <label class="control-label">For voting period</label>
          <div class="controls">
            <dev class="form-control">
            <% @vote_settings.each do |votesetting| %>
            <%= votesetting.start_cycle.strftime("%Y-%m-%d") %>
               TO <%= votesetting.end_cycle.strftime("%Y-%m-%d") %>
              <% end %>              
            </select>

          </div><br>
          
        </div>

      
    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manage Nominee</a>
          </div>
         
            <ul class="nav navbar-nav">
              
                 <form class="navbar-form navbar-left">
                  <div class="form-group">

                  <%= link_to "Add new Nominee" , new_nominee_path(:type =>"adminuser"), :class_name => nil,:class=> "button button-small"%>

                    

                     </div>
                   </form>
        
              <li class="pull-right">
            <form class="navbar-form navbar-left">
                  <div class="form-group">

                    <%= form_tag admin_user_path, :method => 'get',:html =>{:id =>"edit-profile",:class=> "form-horizontal"}  do %>

                    <%= text_field_tag :search, params[:search], :class=>"form-control" %>    <%= submit_tag "Search", :class_name => nil,:class=> "button button-small"%>

                     <% end %>
                     </div>
                   </form>
              </li>

            </ul>
       
         </div>
      </div>







<h3>Nominees</h3>
<table class="table table-hover table-bordered table-responsive table-condensed">
<thead>
  <tr>        

              
              <th>User Name</th>
              <th>User Email</th>
               <th colspan="2">Action</th>    
  </tr>
  </thead>
  <tbody>

        <% @nominees.each do |nominee| %>
        
        <tr>
          <td><%= nominee.fullname %></td>
          <td><%= nominee.email %></td></br>

          <td align="center">



        <%= link_to 'Remove From Nominee', nominee, method: :delete, data: { confirm: 'Are you sure?' },:class=>  "btn btn-primary"  %> 

         </td>

        </tr>
          <% end %>
   </tbody>
</table>


    </div>  
  </div>

