<p id="notice"><%= notice %></p>

<p>
  <b>User Name:</b>
  <%= @nominee.fullname %>  
</p>

<p>
  <b>User Email:</b>
  <%= @nominee.email %>  
</p>


<%= link_to 'Edit', edit_nominee_path(@nominee) %> |
<%= link_to 'Add', nominees_path %>
