<p id="notice"><%= notice %></p>

<p>
  <b>Enable:</b>
  <%= @prop.enable %>
</p>

<p>
  <b>Assign points:</b>
  <%= @prop.assign_points %>
</p>

<p>
  <b>Start point:</b>
  <%= @prop.start_point %>
</p>

<p>
  <b>End point:</b>
  <%= @prop.end_point %>
</p>

<p>
  <b>Step point:</b>
  <%= @prop.step_point %>
</p>

<p>
  <b>Reset point:</b>
  <%= @prop.reset_point %>
</p>

<p>
  <b>User:</b>
  <%= @prop.user_id %>
</p>

<p>
  <b>Start cycle:</b>
  <%= @prop.start_cycle %>
</p>

<p>
  <b>End cycle:</b>
  <%= @prop.end_cycle %>
</p>

<p>
  <b>Name:</b>
  <%= @prop.name %>
</p>

<p>
  <b>Email:</b>
  <%= @prop.email %>
</p>

<p>
  <b>Subject:</b>
  <%= @prop.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @prop.body %>
</p>

<p>
  <b>Subject2:</b>
  <%= @prop.subject2 %>
</p>

<p>
  <b>Body2:</b>
  <%= @prop.body2 %>
</p>

<p>
  <b>Subject3:</b>
  <%= @prop.subject3 %>
</p>

<p>
  <b>Body3:</b>
  <%= @prop.body3 %>
</p>

<p>
  <b>Intro:</b>
  <%= @prop.intro %>
</p>


<%= link_to 'Edit', edit_prop_path(@prop) %> |
<%= link_to 'Back', props_path %>
