<%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
<script>
var data = <%= raw @searchuser %>;


jQuery(function() {

  jQuery( "#search" ).autocomplete(
  {
     source:data
  });
    
});
</script>


  <div id="masthead">
    
    <div class="container">
      
      <div class="masthead-pad">
        
        <div class="masthead-text">
          <h2>User Activities</h2>
          
        </div> 
        
      </div>
      
    </div>
    
  </div> 




  <div id="content">

        
    <div class="container">
     
        <h1> <%= link_to "Add new User" , new_user_path ,:class=> "btn btn-primary "%></h1>
     

       <%= form_tag admin_user_path, :method => 'get',:html =>{:id =>"edit-profile",:class=> "form-horizontal"} do %>
       <div class="control-group">                      
                  
                    <div class="controls">
                      
                     
                       <%= text_field_tag :search, params[:search], :class=>"input-medium" %>
                         <%= submit_tag "Search", :class_name => nil,:class=> "btn btn-primary " %>
                    </div> <!-- /controls -->       
                  </div> <!-- /control-group -->
           
           
      <% end %>
        
         <table class="table table-bordered table-striped table-highlight">
            <thead>
              <tr>
                
                 <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Signin time</th>
                <th>Signout time</th>
                <th>Ip address</th> 
                <th>Sign count</th> 
               
              </tr>
            </thead>
            <% @adminusers.each do |adminusers| %>
            <tbody>
              <tr>
                
                <td><%= adminusers.email rescue nil %></td>
                <td><%= adminusers.firstname rescue nil %></td>
                <td><%= adminusers.lastname rescue nil%></td>
                <td><%= adminusers.sign_in_time.strftime("%e %b %Y %H:%m:%S%p") rescue nil%></td>
                <td><%= adminusers.sign_out_time.strftime("%e %b %Y %H:%m:%S%p") rescue nil%></td>
                 <td><%= adminusers.ip_address rescue nil%></td>
                <td><%= adminusers.sign_in_count rescue nil%></td>
              </tr>
              
            </tbody>
            <% end %>
          </table>
        </div> 

  </div> 

  </div> 
  </div>
