<%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
<script>
var data = <%= raw @searchuser %>;


jQuery(function() {

  jQuery( "#search" ).autocomplete(
  {
     source:data
  });
    
});
</script>


<h1>User Activities</h1>
 <%= form_tag adminuser_logs_path, :method => 'get' do %>
       <%= text_field_tag :search, params[:search], :class=>"textfield2" %>
       <%= submit_tag "Search", :class_name => nil %>
  
  <% end %></br>
<table cellpadding="10"  align="center border">
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Signin time</th>
    <th>Signout time</th>
    <th>Ip address</th> 
    <th>Sign count</th> 
    <th></th>
  </tr>

<% @adminusers.each do |adminusers| %>
  <tr>
    <td><%= adminusers.email rescue nil %></td>
    <td><%= adminusers.firstname rescue nil %></td>
    <td><%= adminusers.lastname rescue nil%></td>
    <td><%= adminusers.sign_in_time.strftime("%e %b %Y %H:%m:%S%p") rescue nil%></td>
    <td><%= adminusers.sign_out_time.strftime("%e %b %Y %H:%m:%S%p") rescue nil%></td>
     <td><%= adminusers.ip_address rescue nil%></td>
    <td><%= adminusers.sign_in_count rescue nil%></td>
  </tr>
<% end %>
</table>

<br />
