
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>

  <%= stylesheet_link_tag "dashboard.css" %>
 

   <script type="text/javascript"> 
      jQuery(document).ready( function() {
        jQuery('#deletesuccess').delay(10000).fadeOut();
      });
    </script>

  <script>
  var data = <%= raw @searchuser %>;


  jQuery(function() {

    jQuery( "#search" ).autocomplete(
    {
       source:data
    });
      
  });
  </script>




  
     <div class="container" style="margin-bottom:100px">
  <div id="deletesuccess">
        
          <% if current_user.role? :productmanager %>
           <ul>
               Welcome  <%= current_user.firstname %> <%= current_user.lastname %><br/><br/>
   
             
          <% elsif current_user.role? :admin %>
            Only <%= @plan_expiry %> days left for your trial plan to expire. You can upgrade at any time.
         <% else %>
           User Name: <%= current_user.firstname %> <%= current_user.lastname %><br/>
           Email:<%= current_user.email %><br/>
        <% end %>
    </div>

    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manage Users</a>
          </div>
         
            <ul class="nav navbar-nav">
              
                 <form class="navbar-form navbar-left">
                  <div class="form-group">

                  <%= link_to "Add new User" , new_user_path(:type =>"adminuser"), :class_name => nil,:class=> "button button-small"%>
                    

                     </div>
                   </form>
        
              <li class="pull-right">
            <form class="navbar-form navbar-left">
                  <div class="form-group">

                    <%= form_tag admin_user_path, :method => 'get',:html =>{:id =>"edit-profile",:class=> "form-horizontal"}  do %>

                    <%= text_field_tag :search, params[:search], :class=>"form-control" %>    <%= submit_tag "Search", :class_name => nil,:class=> "button button-small"%>

                     <% end %>
                     </div>
                   </form>
              </li>
            </ul>
       
         </div>
      </div>


      
      <table class="table table-hover table-bordered table-responsive table-condensed">
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Department</th>
    <th colspan="3">Action</th>
  </tr>
  <% @adminusers.each.with_index(1) do |adminusers,index| %>
  <tr>
    <td><%= index %></td>
    <td><%= adminusers.firstname rescue nil %></td>
    <td><%= adminusers.lastname rescue nil%></td>
    <td><%= adminusers.email rescue nil%></td>
     <td><%= adminusers.department rescue nil%></td>
    <td><%= link_to "Edit" , edit_user_path(adminusers,:type=>"adminuser") ,:class=>  "btn btn-primary" %></td>
    <td><a href="/users/<%= adminusers.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return  false;" class = "btn btn-primary" >Delete</a>

 </td>
    <td><%= link_to format_boolean(adminusers.status?), {:controller => 'users', :action => 'toggled_status', :id => adminusers.id} %></td>
  </tr>
   <% end %>
</table>

        
        <!-- <div align="right">
          <ul class="pagination">
            <li>
              <a href="#">Prev</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div> -->
      
      <hr>
      
   
  </div>

</div>



