
  <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
<%= stylesheet_link_tag "dashboard.css" %>
<%= javascript_include_tag "jquery.js" %>

<script type="text/javascript"> 
      $(document).ready( function() {
        $('#deletesuccess').delay(10000).fadeOut();
      });
    </script>
<script>
var data = <%= raw @searchuser %>;


jQuery(function() {

  jQuery( "#search" ).autocomplete(
  {
     source:data
  });
    
});
</script>




  <div id="info">
     <div class="container">
   <div id="deletesuccess" class="jumbotron">
        <h1>Vote for the Employee of the Month</h1> 
        <p>Who's rocking it? Who's the one person that stands head and shoulders above everyone else? Who's gone that extra mile? Who deserves to be the Employee of the Month?<br></p>
        <p></p>
      </div>
    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manage Users</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Add new User" , new_user_path(:type =>"adminuser")%>
                
              </li>
              
        
              <li class="pull-right">
            <form class="navbar-form navbar-left">
                  <div class="form-group">

                    <%= form_tag admin_user_path, :method => 'get',:html =>{:id =>"edit-profile",:class=> "form-horizontal"}  do %>

                    <%= text_field_tag :search, params[:search], :class=>"form-control" %>    <%= submit_tag "Search", :class_name => nil,:class=> "button button-small"%>

                     <% end %>
                     </div>
                   </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table table-hover table-bordered table-responsive table-condensed">
  <tr>
    <th>Sr.No</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th colspan="3">Action</th>
  </tr>
  <% @adminusers.each.with_index(1) do |adminusers,index| %>
  <tr>
    <td><%= index %></td>
    <td><%= adminusers.firstname rescue nil %></td>
    <td><%= adminusers.lastname rescue nil%></td>
    <td><a href="<%= edit_user_path(adminusers,:type=>"adminuser")%>">Edit</a></td>
    <td><a href="/users/<%= adminusers.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return  false;" class = "icon-3 info-tooltip" >Delete</a></td>
    <td><%= link_to format_boolean(adminusers.status?), {:controller => 'users', :action => 'toggled_status', :id => adminusers.id} %></td>
  </tr>
   <% end %>
</table>
        
        <!-- <div align="right">
          <ul class="pagination">
            <li>
              <a href="#">Prev</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div> -->
      <hr>
      
   
  </div>



</html>








