
 	<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>

	<div id="info">
	<div class="container">
      	<%= form_for :change_password,:html =>{:id =>"change-password"} do |f|  %>		
      <div class="row"></div>
      <h2>Change password</h2>
      <p>So you don't like your password? Make sure the new one has a mix of letters &amp; numbers and is at least 6 characters long. We'll tell you how do selecting a new password.</p>
      <div class="row">
   
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Current password</label>
            <div class="controls">
            	<%= f.password_field :old_password ,:class=>"form-control" %>	
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">New password</label>
            <div class="controls">
              
              <%= f.password_field :new_password,:class=>"form-control" %>
             
            </div>
          </div>

          <div class="form-group">
          <label class="control-label">New password - type it in one more time</label>
          <%= f.password_field :new_password,:class=>"form-control" %>
         <span id="passstrength" class="help-block">
        </div>
        </div>
       
      </div>
       <%= f.submit 'Change password',:class=> "button button-primary"%>

      
    
      <% end %>
    </div>
  
      
   
	</div>



