	<% content_for :scripts do %>
 		<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>
	<% end %>



<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h2>Change Password</h2>
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->




<div id="content">

	<div class="container">		
		
		<div class="row">
		
		<div class="span12">
		
				
					 <section class="round">
					      <% flash.each do |key, value| %>
					    <div class="flash <%= key %>"><%= value %></div>
					    <% end %>
   					 </section>		
							
							
							
							
							
							<%= form_for :change_password,:html =>{:id =>"change-password"} do |f|  %>		
								<fieldset>
									
									
									
									<div class="control-group">											
										<label for="firstname" class="control-label">Current password</label>
										<div class="controls">
											
											<%= f.password_field :old_password ,:class=>"input-medium" %>		
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
									
									
									<div class="control-group">											
										<label for="lastname" class="control-label">New password</label>
										<div class="controls">
											<%= f.password_field :new_password,:class=>"input-medium" %>
											<span id="passstrength" class="help-block">
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
									
									
									<div class="control-group">											
										<label for="email" class="control-label">Confirm New password </label>
										<div class="controls">
										  <%= f.password_field :new_password_confirmation,:class=>"input-medium" %>
										 
										  
										</div> <!-- /controls -->				
									</div> <!-- /control-group -->
									
										
									<div class="form-actions">
										 <%= f.submit 'Change password',:class=> "btn btn-primary btn-large"%>
										
									</div> <!-- /form-actions -->
								</fieldset>
							<% end %>
										
		                    </div>
			
		</div> <!-- /.row -->
		
		
	</div> <!-- /.container -->

</div> <!-- /#content -->
		