	<% content_for :scripts do %>
 		<%= javascript_include_tag "application","jquery.validate.min", "validation" %>
	<% end %>

<div class="container">
			<div class="row header">
				<div class="col-md-8 message">
					<h3>Change password</h3>
					<p>
						So you don't like your password? Make sure the new one has a mix of letters & numbers and is at least 6 characters long. We'll tell you how do selecting a new password.
					</p>
					
					<%= form_for :change_password,:html =>{:id =>"contact-form"} do |f|  %>	
						
				  		<div class="form-group">
				    		<label for="email">Current password</label>
				    		<%= f.password_field :old_password ,:class=>"form-control" %><p>
				    		
				  		</div>
				  		<div class="form-group">
				    		<label for="phone">New password</label>
				    		<%= f.password_field :new_password ,:class=>"form-control"%>
							
							<span id="passstrength">
				  		</div>
				  		<div class="form-group">
				    		<label for="message">New password - type it in one more time</label>
				    		<%= f.password_field :new_password_confirmation,:class=>"form-control" %>
					     
          											
				  		</div>
				  		<div class="submit">
				  		   <%= f.submit 'submit',:class=> "button button-small" %>
				  		</div>
					<% end %>
				</div>
				
			</div>
			
			
			
			
</div>


		