<!-- Admin side Dashboard Page -->

   <%= stylesheet_link_tag "dashboard.css" %>
<%= javascript_include_tag "jquery-1.7.2.min.js","jquery-ui-1.8.21.custom.min.js","jquery.ui.touch-punch.min.js","bootstrap.min.js","Theme.js","Charts.js","excanvas.min.js","jquery.flot.js","jquery.flot.pie.js","jquery.flot.tooltip.min.js","jquery.flot.resize.js","line.js","donut.js" %>

<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Welcome to Dashboard</h2>
        <% if current_user.role? :productmanager %>
           <ul>
               Welcome  <%= current_user.firstname %> <%= current_user.lastname %><br/><br/>
   
             
          <% elsif current_user.role? :admin %>
            Only <%= @plan_expiry %> days left for your trial plan.You can upgrade it by Subscribing plan.
         <% else %>
          <!--  User Name: <%= current_user.firstname %> <%= current_user.lastname %><br/>
           Email:<%= current_user.email %><br/> -->
        <% end %>
    </ul>

        
      </div> <!-- /.masthead-text -->
    </div>
  </div> 
  <!-- /.container -->  
  
</div> <!-- /#masthead -->






<script>

$(function () {
  
  Theme.init ();
  
});

</script>

</body>
</html>


