
<h1>Welcome to Dashbroad</h1>
	<% if current_user.role? :productmanager %>
  <ul>
	 Welcome  <%= current_user.firstname %> <%= current_user.lastname %><br/><br/>
	 
	  <li><%= link_to 'Manage Plans', plans_path %></li>
	   <li><%= link_to 'Manage Trial days plan', new_trial_day_path %></li>
	<% elsif current_user.role? :admin %>
       Only <%= @plan_expiry %> days left for your trial plan. you can upgrade it by Subscribing below plan.
	<% else %>
	  User Name: <%= current_user.firstname %> <%= current_user.lastname %><br/>
	  Email:<%= current_user.email %><br/>
	<% end %>
  </ul>

  <div class="container" style="margin-top:60px">



 
 <%= stylesheet_link_tag "payment.css" %>



<body>
  <div id="content">

    <div class="price-chart">
      
      <div class="pt-table">  
        <div class="pt-body">
          <ul class="pt-rows">
            <li class="title"><span>Plan A – Applaud</span><span>Plan B – Award</span><span>Plan C – Alloy</span></li>
            <li class="fees"><span>$0.50</span><span>$0.50</span><span>$1.00</span></li>  
                      
            <li>
              <% @plans.each do |plan| %>
              <span class="pt-no">
              
              <% @subscription = plan.subscriptions.build %>
                <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(plan_id: @subscription.plan_id, user_id: current_user.id) %>
                              

              </span>
              <% end %>
            </li>
            
          </ul>
        </div>
        
      </div>
    </div>
    
</div>
</body></html>
