<!-- Admin side Dashboard Page -->



<%= stylesheet_link_tag "dashboard.css" %>
<%= javascript_include_tag "jquery.js" %>

<div id="info">

      <div class="container" style="margin-bottom:100px">
           <h2>Welcome to Meritize</h2>
           <h4><%= current_user.firstname %>, here's how to get started with Meritize.</h4>
          <% if current_user.role? :productmanager %>

               Welcome  <%= current_user.firstname %> <%= current_user.lastname %><br/><br/>
               You are a Product Administrator.
   
             
          <% elsif current_user.role? :admin %>
          <!-- Administrator -->
            <% unless  current_user.plan_type == "premium" %>
              <div class="jumbotron">
                First things first. Thank you for trying out Meritize. There's <%= @plan_expiry %> days left on your trial. You can upgrade at any time. Or wait until the last day, no worries. And did you know that we charge only for users that log in? You get the idea. You spend money only if your organization uses Meritize.
                <% if current_user.sign_in_count == 4 %>
                  <br>&nbsp;<br>
                  PS: It looks like you have logged in to Meritize a few times now. Does it feel like you know your way around Meritize now? We are going to assume you don't need these instructions every time you log in. You will be redirected to the <a href="/admin_user">Manager Users</a> screen the next time you login. If you do need these instructions, just click on "Meritize" in the far upper left and you will find this page.
                <% end %>
              </div>
            <% end %>
            
            <h1>Account settings</h1>
            The first place to start would be the Settings area. We have set some defaults for you. Click on Settings and you will see that you can set General settings, and you can set settings for Props and/or Votes depending on which plan you sign up for. 

            <h1>Users</h1>
            The second thing to do is to go to the Users area and create users. We recommend creating two users. Sidenote, this user you are logged in as is an admin user. You will get to pick the winners. Which is why we made sure that other users can't vote or give props to this user. We wanted to keep it fair and make sure admins are kept out of the voting process.
            <br>

            <br>Here's the the step-by-step:<br>
            1. Go to <a href="/admin_user">Users - Manage Users</a> and click the Add new User button to create a new user. Use an email address you have access to. The password is sent to the email address.<br>
            2. Repeat Step 1 one more time to create one more user.<br>
            3. Log out and log back in, or better yet open a new browser and <a href="http://www.imeritize.com">login to Meritize</a>, using the email address for the user created on Step 1.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;a. Give props from the Props screen<br>
            &nbsp;&nbsp;&nbsp;&nbsp;b. Vote for one of the users for an awards program<br>
            4. Log out and log back in, or open a new browser and <a href="http://www.imeritize.com">login to Meritize</a>, using the email address you used to first sign-up for Meritize. Which is basically the email address you have used to login currently.
            <br>&nbsp;<br>
              Now that you are logged back in as the administraor, click <a href="/results/props">Results - Props</a> or click <a href="/results/votes">Reults - Votes</a>. You will the props and votes you submitted as a user generates a leaderboard.
              Finally, click on <a href="/adminuser_logs">Users - Users Activities</a>. You will see that Meritize reports to you login history of your users.
            <br>&nbsp;<br>
            That about covers the basics. If you have any questions don't hesitate to contact us at support@imeritize.com.

         <% else %>
          <!--  User -->
           <% if current_user.admin_user.prop.present? %>
             <h1>Give props for a job well done</h1>
             The <a href="/prop_displays/new">Props</a> screen allows you to publicly praise one of your peers for a job well done. To send them props, start entering their name and Meritize will look them up. Meritize searches by name and email address. Next, share why you are giving props.
             <% if current_user.admin_user.prop.assign_points == true %>
               You can award points to the person(s) you are sending props.
             <% end %>
             And click Submit Props. That's it! Scroll down and you will see props others have given. One other thing. The <a href="/prop_wows">WoW screen for Props</a> is a "Wall of Winners" and will show you the winners.
           <% end %>
           <% if current_user.admin_user.plan_name == 'Alloy' || current_user.admin_user.plan_name == 'Award' %>
            <h1>Vote for the <%= current_user.admin_user.vote_setting.award_program_name rescue nil %></h1> 
            The <a href="/votes/new">Vote</a> screen allows you to privately vote for a peer for an awards program. To vote, start entering their name and Meritize will look them up. Meritize searches by name and email address. Next, share why you are voting for them. Select the core value(s) they have exhibited and click Vote. That's it! One more thing. The <a href="/wows">WoW screen for Votes</a> is a "Wall of Winners" and will show you the award winners. 
           <% end %>

        <% end %>
      
        
     
   
    </div>
     
   
  </div>


<script type="text/javascript"> 
      $(document).ready( function() {
        $('#deletesuccess').delay(10000).fadeOut();
      });
    </script>

</body>
</html>


