<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>

	

	<div class="container" style="margin-bottom:100px">
			<div class="row header">
				<h2>Edit Profile</h2>
				<div class="col-md-8 message">
					

				<%= form_for @user, :html => {:multipart=> true,:id =>"new_user", :class=>"form-horizontal"} do |f|%>
						<%= render 'shared/error_messages', :object=> f.object%>
					      
                            <div class="form-group">
				    		<label for="name">Upload photo</label>
				    		<%= f.file_field :photo%>
                            </div>

		  		        <div class="form-group">
				    		<label for="name">First name</label>
				    		<%= f.text_field :firstname, :class=>"form-control"%>
				        </div>

				  		<div class="form-group">
				    		<label for="name">Last name</label>
				    		<%= f.text_field :lastname, :class=>"form-control"%>
				    		<%= f.hidden_field :email,:value=> params[:user][:email] rescue nil %>
				    	</div>
                       
				  		
				  		<div class="form-group">
				    		<label for="name">Department</label>
				    		<% if params[:type] == "adminuser" %>
                              <%= hidden_field_tag("page_name", "admin") %>
				    			<%= f.text_field :department, :class=>"form-control"%>
				    		 <% end %>	
				        </div>
                        <div class="form-group">
				  		<label for="message">Timezone</label>&nbsp;&nbsp;
				    		
		               <%= f.time_zone_select :time_zone%>
                       </div>
							<!-- <span class="help-block">The username you will log in with. Typically it's your email address. Even if it's not, it still has to be in an email address format (name@company.com). It's your call handle too. For example if your username is jsmith@mycompany.co.uk, then your handle is @jsmith</span> -->
											
											
											          <label class="form-label">Email notifications</label>
				          <div class="checkbox">
				            <label>
				              <%= f.check_box :is_prop, {:class => "myclass", :style => "mystyle"} %>Yes, send me emails as soon as I get Props</label>
				          </div>
				          <div class="checkbox">
				            <label>
				              <%= f.check_box :is_prop_reminder, {:class => "myclass", :style => "mystyle"}%>Yes, remind me if I haven't given Props to someone else in a while</label>
				          </div>
				          <div checked="checked" class="checkbox">
				            <label>
				              <%= f.check_box :is_vote_reminder, {:class => "myclass", :style => "mystyle"} %>Yes, remind me when it's time to vote</label>
				          </div>
						<% end %>		 
						<div class="submit" style="margin-top:20px">
						<%= f.submit "Save changes to my profile", :class => "button button-small"%>	
					    </div>
				

				
				</div>
				
			</div>
			
			
			
			
		</div>
