<%= javascript_include_tag "jquery-1.5.2.min","jquery.validate.min","validation" %>

	<div id="masthead">
		
		<div class="container">
			
			<div class="masthead-pad">
				
				<div class="masthead-text">
					<h2>Edit Profile</h2>
					
				</div> <!-- /.masthead-text -->
				
			</div>
			
		</div> <!-- /.container -->	
		
	</div> <!-- /#masthead -->




	<div id="content">

		<div class="container">		
			
			<div class="row">
			
			<div class="span12">
			
							
						<%= form_for @user, :html => {:multipart => true,:class=>"form-horizontal" } do |f|%>	
						<%= render 'shared/error_messages', :object => f.object %>
									<fieldset>
										
                                       <div class="control-group">											
											<label for="username" class="control-label">Upload photo</label>
											<div class="controls">
												
												<%= f.file_field :photo%></a>
												
											</div> <!-- /controls -->				
										</div>

										<div class="control-group">											
											<label for="username" class="control-label">Firstname</label>
											<div class="controls">
												
												<%= f.text_field :firstname,:class=> "input-medium disabled" %>
												
											</div> <!-- /controls -->				
										</div>
										<div class="control-group">											
											<label for="username" class="control-label">Lastname</label>
											<div class="controls">
												
												<%= f.text_field :lastname,:class=> "input-medium disabled" %>
												<%= f.hidden_field :email,:value=> current_user.email %>
											</div> <!-- /controls -->				
										</div>
										
										
										
										
										<div class="control-group">											
											<label for="password" class="control-label">Password</label>
											<div class="controls">
												<%= f.password_field :password,:class=> "input-medium " %>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										<div class="control-group">											
											<label for="password" class="control-label">Password confirmation</label>
											<div class="controls">
												<%= f.password_field :password_confirmation,:class=> "input-medium " %>
												
											<% if params[:type] == "adminuser" %>
												<%= hidden_field_tag("page_name", "admin") %>
											<% end %>	
											</div> <!-- /controls -->				
										</div>
										
										<div class="control-group">											
											<label for="email" class="control-label">Time Zone</label>
											<div class="controls">
												 <%= f.time_zone_select :time_zone %>
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
										
										
										<span class="help-block">The username you will log in with. Typically it's your email address. Even if it's not, it still has to be in an email address format (name@company.com). It's your call handle too. For example if your username is jsmith@mycompany.co.uk, then your handle is @jsmith</span>
										
										
										
										<label class="form-label">Email notifications</label>
	                                <div class="checkbox">
	                                <label>
	                                  <input type="checkbox" checked="checked">Yes, send me emails as soon as I get Props</label>
	                               </div>
	                                <div class="checkbox">
	                                <label>
	                                    <input type="checkbox" checked="checked">Yes, remind me if I haven't given Props to someone else in a while</label>
	                               </div>
	                               <div checked="checked" class="checkbox">
	                               <label>
	                                   <input type="checkbox" checked="checked">Yes, remind me when it's time to vote</label>
	                               </div>
			  	                     <br>
									<div class="form-actions">
											
										<%= f.submit "Save changes to my profile",:class=>"btn btn-primary btn-large" %>	
											
										</div> <!-- /form-actions -->
									</fieldset>
								<% end %>
								
			</div>
				
				
			</div> <!-- /.row -->
			
			
		</div> <!-- /.container -->

	</div> <!-- /#content -->