 <!-- SignUp page -->

    <%= form_for @user ,:html => {:multipart => true,:id =>"new_user",:class=>"form-horizontal" } do |f| %>
   
        <% if signed_in?%>

                 
           <%= render :partial => 'users/add_adminuser',:locals => {:f => f} ,:layout => 'layouts/admin' %>



        <% else %>  
          <%= render 'shared/error_messages', :object => f.object %>
       <body id="signup">
        <div class="container">
          <div class="row header">
            <div class="col-md-12">
              <h3 class="logo">
                <a href="#"><img src="assets/logo.png" alt=""></a>
              </h3>
              <h4>Set up your new account today.</h4>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="wrapper clearfix">
                <div class="formy">
                  <div class="row">
                    <div class="col-md-12">
                  
                       
                           <div class="form-group">
                            <label for="name">First name</label>
                             <%= f.text_field :firstname, :class => "form-control" %>
                         </div>
                             <div class="form-group">
                            <label for="name">Last name</label>
                             <%= f.text_field :firstname, :class => "form-control" %>
                          </div>
                          <div class="form-group">
                            <label for="email">Email address</label>
                             <%= f.text_field :email, :class => "form-control"  %>
                           </div>

                                <div class="form-group">
                            <label for="name">Company name</label>
                            <%= f.text_field :companyname, :class => "form-control" %>
                            
                          </div>
                                <div class="form-group">
                            <label for="name">Hear AboutUs</label>
                              <%= f.text_area :hear_aboutus ,:rows =>'4',:columns => '3', :class => "form-control"  %>
                            
                          </div>

                          <div class = "field">
                             <%= hidden_field_tag "user[role_ids][]", 2 %>
                             <%= f.hidden_field :plan_id, :value => 3%>
                             <%= f.hidden_field :plan_type, :value => "free"%>
                             <%= f.hidden_field :password ,:value => @random %>
                             <%= f.hidden_field :password_confirmation ,:value => @random %>
                
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> You have read &amp; agree to the 
                                <a href="#">Terms of service</a>.
                            </label>
                          </div>
                        
                         <div class="already-account" style="margin-bottom:0">
                            Already have an account?
                            <a title="" data-original-title="" href="/signin">Sign in here</a>
                
                          </div>
                           <div class="submit">
                            <%= f.submit "Create my account", :class =>"button-clear"  %>
                          </div>
                         
                          <% end %>
                         <% end %>
                          
                     
                    </div>
                  </div>            
                </div>
              </div>
             
            </div>
          </div>
        </div>

  <script type="text/javascript">
    $(function () {
      $(".already-account a").popover();
      $(".already-account a").popover('show');
    });
  </script>

</body>


