
 <div class="container">
   <table class="table table-hover table-bordered table-responsive table-condensed">
   <tr>
   <th>Sr.No</th>
   <th>Full Name</th>
   <th>Email</th>
   <th>Company Name</th>
   <th>Company Address</th>
   <th colspan="3">Activate/Deactivate</th>
   </tr>
   <% @user.each.with_index(1) do |user,index| %>
   <tr>
   <td><%= index  %></td>
   <td><%= user.fullname %></td>
   <td><%= user.email  %></td>
   <td><%= user.setting.company_name rescue nil%></td>
   <td><%= user.setting.website_address rescue nil%></td>
   <td><%= link_to format_boolean(user.status?), {:controller => 'users', :action => 'toggled_status', :id => user.id} %></td>
   </tr>
   <% end %>
   </table>
    <div align="right">
           <ul class="pagination"> <li><%= will_paginate @user  %></li></ul>
  </div>
   <hr>
   </div>
 

