
  <div id="info">
    <div class="container" style = "margin-bottom:100px">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Manage Users</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              
              <li class="active">
                <%= link_to "Upload" , upload_path%>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <p>Use this page to create several users at a time. You will need a file with a list of names &amp; email addresses. We'll take their email address and make it their username, and their role will be "Voter". You can also decide if the system should send the new users their password. Oh, and if there is someone with that email address already we will update their First Name and Last Name.</p>
      </div>
      <div class="container">
        <h1>Step 1.</h1>Let's get started. We need a file from you. It has to be a "csv" file. That stands for comma separated values. You can create one in Excel by doing a File - Save As. Make sure to leave the column headers in so that we understand the contents of your file.
        <p></p>


        <h2>Import Users</h2>
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %></br>
        <%=  hidden_field_tag :admin_user_id , :value => current_user.id %>
        <%= submit_tag "Upload CSV File",:class => "button button-primary" %>
      <% end %>


       
        <h1>Step 2.</h1>Excellent, we have the file and can understand it. Let's confirm we got it right:<br>
        a. The first column is called "Email Address"; we'll put that in "Email".<br> b. The second column is called "Employee First Name"; we'll put that in "First Name".<br>
        c. The third column is called "Employee Last Name"; we'll put that in "Last Name".<br>
        We also see that there are 28 entries.
        <p></p>If any of this is not right, check out our article here and go back to Step 1.<br>
        
        <a href="users_upload_results.html" class="button button-primary">Everything checks out. Let's do this!</a>
      </div>
    </div>
  </div>