
<script type="text/javascript"></script> <script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
//]]>
</script>

<% content_for :styles do %>
 <%= stylesheet_link_tag "application"%>
 
 
<% end %>

  <div id="info">
    
      
      <div class="container" style="margin-bottom:100px">
        <%= form_for(@vote_setting) do |f| %>
        <% if @vote_setting.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@vote_setting.errors.count, "error") %> prohibited this vote_setting from being saved:</h2>

            <ul>
            <% @vote_setting.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <h1>Settings - Vote</h1>
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td>
                <label class="form-label">Awards program name:</label>
              </td>
              <td>
                <%= f.text_field :award_program_name,:class=>"form-control" %>
                
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Award frequency:</label>
              </td>
              <td>
                 <%= f.select :award_frequency_type, options_for_select([["Select", "Select"],"Weekly", "Monthly","Quaterly"],@vote_setting.award_frequency_type ), {}, { :class => 'form-control' } %><br>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Current cycle:</td>
                      <td>
                        
                      <%= f.text_field :start_cycle,:class=>"form-control" ,:value=> "#{@vote_setting.start_cycle.strftime("%d %B %Y") if @vote_setting.start_cycle.present?}"%>
                      </td>
                      <td>to</td>
                      <td>
                       <%= f.text_field :end_cycle,:class=>"form-control", :value=> "#{@vote_setting.end_cycle.strftime("%d %B %Y") if @vote_setting.end_cycle.present?}" %>
                      <%= f.hidden_field :user_id , :value => current_user.id %>
                      </td>
                    </tr>
                    <tr>
                      <td>Past cycles:</td>
                      <td colspan="3">
                      <% if params[:action] == "edit" %>
                         <% @past_vote_cycles.each do |past_vote_cycles| %>
                          <%= past_vote_cycles.start_cycle.to_date.strftime("%d %B %Y") %>&nbsp; &nbsp; &nbsp; to &nbsp; &nbsp; &nbsp;  
                           <%= past_vote_cycles.end_cycle.to_date.strftime("%d %B %Y") %>  <br/>

                         <% end %>  
                      <% end %>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Awards program options:</label>
              </td>
              <td>
                
                <div class="checkbox">
                  <label>
                     <%= f.check_box :is_admin_reminder %>Remind me a few days before award selection is due</label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :is_allow_vote %>Don't allow voters to vote for last time's winner</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Intro text displayed to voter:</label>
              </td>
              <td>

                 <%= f.text_area :intro_text,cols: 100, rows: 17%>

              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email sent to voters - From name:</label>
              </td>
              <td>
                <%= f.text_field :email_sender_name,:class=>"form-control" %>
                
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email sent to voters - From email:</label>
              </td>
              <td>
                 <%= f.text_field :email_sender_email,:class=>"form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #1 sent to voters - Subject:</label>
              </td>
              <td>
                 <%= f.text_field :email_sender_subject1,:class=>"form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #1 sent to voters - Body:</label>
              </td>
              <td>

                <%= f.text_area :email_sender_body1,cols: 100, rows: 15,:class=>"form-control"  %>

              </td>
            </tr>
          
            <tr>
              <td>
                <label class="form-label">Reminder email #1 sent to voters - Days:</label>
              </td>
              <td>

                <%= f.text_field :reminder1_days,:class =>"form-control" %>

              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #2 sent to voters - Subject:</label>
              </td>
              <td>
               <%= f.text_field :email_sender_subject2,:class=>"form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #2 sent to voters - Body:</label>
              </td>
              <td>

                <%= f.text_area :email_sender_body2,cols: 100, rows: 15,:class=>"form-control"%>

              </td>
            </tr>
            
            <tr>
              <td>
                <label class="form-label">Reminder email #2 sent to voters - Days:</label>
              </td>
              <td>

                <%= f.text_field :reminder2_days,:class =>"form-control" %>

              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #3 sent to voters - Subject:</label>
              </td>
              <td>
                <%= f.text_field :email_sender_subject3,:class=>"form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Reminder email #3 sent to voters - Body:</label>
              </td>
              <td>

                <%= f.text_area :email_sender_body3,cols: 100, rows: 15,:class=>"form-control"%>

              </td>
            </tr>
           
             <tr>
              <td>
                <label class="form-label">Reminder email #3 sent to voters - Days:</label>
              </td>
              <td>

               <%= f.text_field :reminder3_days,:class =>"form-control" %>

              </td>
            </tr>
             <tr>
              <td>
                <label class="form-label"></label>
              </td>
              <td>
                 <%= f.submit "Save", :class => "btn btn-primary"%>
              </td>
            </tr>


          </tbody>
        </table>
      <% end %>
      </div>
     
      
   
  </div>


