
	<div id="info" class="award">
		
      
      <div class="container" style="margin-bottom:100px">
	  
      
      <div class="row">
	  <% if @result.present? %>
	  
	  <div class="col-md-12">
	  <h1 class="wow_heading"><%= @vote_cycle.award_program_name rescue nil %></h1>
	  </div>
				
				
	   
	  <div class="col-md-9">
        <% @result.each do |prop_winner| %>
	     <% unless prop_winner.receiver.photo.blank? %>
	  
	  		<%= image_tag prop_winner.receiver.photo.url,:width =>"128",:height => "128",:class => "voter_main_img" rescue nil %>
	      <% else %>
             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_main_img">  
	      <% end %>
          <h3 class="blue"><%= prop_winner.receiver.fullname rescue nil %></h3>
           <p>Software Developer<br>
            January 6, 2014        </p>
          
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
           Etiam adipiscing leo non nulla condimentum,</p>
          <%= @wall_of_winner.voteable.email rescue nil %><br>
        
          <strong class="blue"><%= prop_winner.points rescue nil%> </strong> Points  </div>
	  
	  
	  
	  
	 
        <div class="col-md-3">

          <p><span class="button"><span style="font-size:40px; font-weight:bold"><%= prop_winner.points rescue nil%></span> Points</span></p>
          <p><strong></strong></p>
        </div>
        
      </div>
    
	 
	  
	 
      <hr>
       <h1 class="wow_heading">User Votes</h1>
      	<%  @wall_of_winner_voter = PropDisplay.where("cycle_start_date = '#{prop_winner.start_cycle.to_date}' AND cycle_end_date ='#{prop_winner.end_cycle.to_date}'AND receiver_id = '#{prop_winner.receiver_id}'").select("DISTINCT ON (sender_id) *") rescue nil %>    
    <% if @wall_of_winner_voter.present? %>
	   <% @wall_of_winner_voter.each do |winner_voter| %>
	   <div class="row">
				<div class="col-md-6">




					 <% unless winner_voter.sender.photo.blank? %>
	  
			  		<%= image_tag winner_voter.sender.photo.url,:width =>"128",:height => "128",:class => "voter_img" rescue nil %>
			      <% else %>
		             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_img">  
	      		<% end %>
					
						<strong><a href="#"><%= winner_voter.sender.fullname rescue nil%></a></strong>
						
						<p><%= winner_voter.description rescue nil%>
						</p>
						<hr>
				 </div>
				 
		<% end %>		 
	<% end %>			 
				 
				 
				 
				 
				 
				
				 
				
				
				 
				 
				 
				 
				
		</div>
	 <% end %>			
	<% end %>			
				
	   
	   
       <h1 class = "wow_heading">Previous Winners</h1>
    <% if @previous_winner.present? %>   
	   <%  @previous_winner.each do |previous_winner| %>
	   <div class="row" style="text-align:center">
	   					
			
			<div class="col-md-4">
		  <% unless previous_winner.voteable.photo.blank? %>		
			<div><%=image_tag previous_winner.voteable.photo.url ,:width => "128",:height => "128",:class =>"winner_img" rescue nil%></div>
	      <% else %>
             <div><img src="/assets/user2.png" alt="globe" width="128" height="128" class="winner_img"></div>
	      <% end %> 
	   		<div>
			<h4><%= previous_winner.voteable.fullname rescue nil%></h4>
			<%= previous_winner.end_cycle.strftime(" %B %Y") rescue nil%> 
			</div>
	   		</div>
			
		<% end %>	
			
			
			
			
			
			
			
	   </div>
	   
	 <% end %>  
	   
    </div>
     
      
   
	</div>