
<div id="info">
    <div class="container" style="margin-bottom:100px">
      <div class="jumbotron">
        <p>The best part of your job. See who is winning, who is voting and pick the winner. Note that you will be able to select a winner seven days before a monthly cycle ends and three days before a weekly cycle ends.</p>
      </div>
     
        <div class="form-group">
          <label class="control-label">For voting period</label>
          <%= form_for :result do |f| %>
          <div class="controls">
            <%= f.select(:cycle, PropCycle.find(:all, :conditions=>"user_id = '#{current_user.id}'",:order => "created_at DESC").collect {|p| [ (p.start_cycle.strftime("%d %B %Y").to_s  + " to " +  p.end_cycle.strftime("%d %B %Y").to_s ).presence, p.id ] }, { :include_blank => "Current cycle #{@prop_setting.start_cycle.to_date rescue nil} to  #{@prop_setting.end_cycle.to_date rescue nil} ", :selected => "#{params[:result][:cycle] if request.post?}"}, {:class=>"form-control"}) %>
            
             <%= f.submit "Search", :class=> "btn btn-primary",:style=>"background-color: #006DCC; float:right; margin-right:7px"%>
          </div><br>
          <% end %>
        </div>
          
      <h1>Leaderboard - by number of props</h1>
      
        <table class="table table-hover table-bordered table-responsive table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Department</th>
              <th>Props</th>
              <th>Has given props?</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
                <% if @result.present? %>
                        <% @result.each_with_index do |result,i| %>
                          <tr>
                            <td><%= i = i + 1 %></td>
                            <td>
                              <% if result.receiver.photo.blank? %>
                                <img src="/assets/user2.png"class="circular_micro_img">
                                <!--<img src="http://s3.amazonaws.com/meritize/public/attachments/user/299/small/batman.jpg?1405222546" class="voter_img">-->
                              <% else %>
                                <%= image_tag result.receiver.photo.url(:micro), :class => "circular_micro_img" %>
                              <% end %>
                              <%= result.receiver.fullname %>
                            </td>
                            <td><%= result.receiver.email %></td>
                            <td><%= result.receiver.department %></td>
                             <td><%= result.prop_count %></td>
                             <% @has_given_prop = PropDisplay.where("cycle_start_date = '#{ @prop_setting.start_cycle.to_date}' AND cycle_end_date ='#{@prop_setting.end_cycle.to_date}' AND sender_id = '#{result.receiver_id}'") %>
                             <% if @has_given_prop.present? %>
                             <td>Yes</td>
                             <% else %>
                              <td>No</td>
                             <% end %>
                                <td align="center">
                                      <% if @current_result.present? %>
                                        <% if @current_result.receiver_id == result.receiver_id %>

                                             
                                        <%= link_to "Winner! Notify winner",{:controller => 'results',:action => 'prop_winner_notify', :id => result.receiver_id} ,:confirm => "Are you sure you want to notify #{result.receiver.fullname rescue nil}by email?",:class => "button button-small"%>
                                        <% else %>
                                          -----
                                        <% end %>     
                                      <% else %>
                                            <% if @diff >= 28 %>
                                              <% if @todays_date >= @select_winner_month %>
                                               <%= link_to "Select as winner",{:controller => 'results',:action => 'prop_winner', :id => result.id} ,:confirm => "Are you sure you want to select #{result.receiver.fullname rescue nil}as the winner? Once you select this user as the winner you can not change the winner.",:class => "button button-small",:class => "button button-small"%>
                                               <% end %>
                                          
                                             <% else %>

                                            <% end %>   
                                      <% end %>
                                    </td>
                          </tr>
                     
                        <% end %>
                <% end %>    
          </tbody>

        </table>
  <% if @prop_setting.present?%>
    <% if @prop_setting.assign_points == true %>
         <h1>Leaderboard - by number of points on props</h1>
          
            <table class="table table-hover table-bordered table-responsive table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Department</th>
                  <th>Points</th>
                  <th>Has given props?</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <% if @result_by_points.present? %>
                          <% @result_by_points.each_with_index do |result,i| %>
                            <tr>
                              <td><%= i = i + 1 %></td>
                              <td>
                                <% if result.receiver.photo.blank? %>
                                <img src="/assets/user2.png"class="circular_micro_img">
                                <!--<img src="http://s3.amazonaws.com/meritize/public/attachments/user/299/small/batman.jpg?1405222546" class="voter_img">-->
                              <% else %>
                                <%= image_tag result.receiver.photo.url(:micro), :class => "circular_micro_img" %>
                              <% end %><%= result.receiver.fullname %></td>
                              <td><%= result.receiver.email %></td>
                              <td><%= result.receiver.department %></td>
                               <td><%= result.points %></td>
                                <% @has_given_prop = PropDisplay.where("cycle_start_date = '#{ @prop_setting.start_cycle.to_date}' AND cycle_end_date ='#{@prop_setting.end_cycle.to_date}' AND sender_id = '#{result.receiver_id}'") %>
                             <% if @has_given_prop.present? %>
                             <td>Yes</td>
                             <% else %>
                              <td>No</td>
                             <% end %>
                              <td align="center">
                                      <% if @current_result.present? %>
                                        <% if @current_result.receiver_id == result.receiver_id %>

                                             Winner!
                                        <% else %>
                                          -----
                                        <% end %>     
                                      <% else %>
                                            <% if @diff >= 28 %>
                                              <% if @todays_date >= @select_winner_month %>
                                               <%= link_to "Select as winner",{:controller => 'results',:action => 'prop_winner', :id => result.id} ,:confirm => "Are you sure you want to select #{result.receiver.fullname rescue nil}as the winner? Once you select this user as the winner you can not change the winner.",:class => "button button-small",:class => "button button-small"%>
                                               <% end %>
                                          
                                             <% else %>

                                            <% end %>   
                                      <% end %>
                                    </td>
                            </tr>
                       
                          <% end %>
                  <% end %>    
              </tbody>

            </table> 
    <% end %>
  <% end %>   
      
      
      
    </div>
  
  </div>












