
	<div id="info" class="award">
		
	    <% if @wall_of_winner.present? %>   
	      <div class="container" style="margin-bottom:100px">
		  
	      
	      <div class="row">
		 
		  
		  <div class="col-md-12">
		  <h1 class="wow_heading"><%= @vote_cycle.award_program_name rescue nil %></h1>
		  </div>
					
					
		   
		  <div class="col-md-9">

		     <% unless @wall_of_winner.receiver.photo.blank? %>
		  
		  		<%= image_tag @wall_of_winner.receiver.photo.url,:width =>"128",:height => "128",:class => "voter_main_img" rescue nil %>
		      <% else %>
	             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_main_img">  
		      <% end %>
	          <h3 class="blue"><%= @wall_of_winner.receiver.fullname rescue nil %></h3>
	           <p><%= @wall_of_winner.receiver.department rescue nil %>&nbsp;Department</p>
	          
	          <%= @wall_of_winner.receiver.email rescue nil %><br>
	        
	          <strong class="blue">
	          	<% if @prop_setting.present? %>
		          	 <% if @prop_setting.assign_points == true %> 
		          		<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).points rescue nil%> </strong> Points (<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%> Voters )        
	                 <% else %>
	                   	<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%> </strong> Points (<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%> Voters )  
	                 <% end %>
                 <% end %>
	          </div>
		  
		  
		  
		  
		 
	        <div class="col-md-3">
	            <% if @prop_setting.present? %>
	                <% if @prop_setting.assign_points == true %> 
			          	<p><span class="button"><span style="font-size:40px; font-weight:bold">
			          	<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).points rescue nil%></span> Points</span></p>
			          	<p><strong>(<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%> Voters )</strong></p>
			        <% else %>  
	                      <p><span class="button"><span style="font-size:40px; font-weight:bold">
			          	<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%></span> Points</span></p>
			          	<p><strong>(<%= PropCount.find_by_receiver_id(@wall_of_winner.receiver.id).prop_count rescue nil%> Voters )</strong></p>
			        <% end %>
			    <% end %>    
	        </div>
	        
	      </div>
	    
		  
		  
		 
	      
	       <h1 class="wow_heading">User Votes</h1>
	    <% if @wall_of_winner_voter.present? %>
		   <% @wall_of_winner_voter.each do |winner_voter| %>
		   <div class="row">
					<div class="col-md-6">




						 <% unless winner_voter.sender.photo.blank? %>
		  
				  		<%= image_tag winner_voter.sender.photo.url,:width =>"128",:height => "128",:class => "voter_img" rescue nil %>
				      <% else %>
			             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_img">  
		      		<% end %>
						
							<strong><a href="#"><%= winner_voter.sender.fullname rescue nil%></a></strong>
							<strong><a href="#"></a></strong>
							<p><strong class="blue"></strong></p>
							<p><%= winner_voter.description rescue nil%>
							</p>
							<hr>
					 </div>
					 
			<% end %>		 
		<% end %>			 
			 
					
			</div>
		 		
					
					
		   
		   
	       
	    <% if @previous_winner.present? %>   
		  <h1 class = "wow_heading">Previous Winners</h1>
		   <div class="row" style="text-align:center">
		   	 <%  @previous_winner.each do |previous_winner| %>				
				
				<div class="col-md-4">
			  <% unless previous_winner.receiver.photo.blank? %>		
				<div><%=image_tag previous_winner.receiver.photo.url ,:width => "128",:height => "128",:class =>"winner_img" rescue nil%></div>
		      <% else %>
	             <div><img src="/assets/user2.png" alt="globe" width="128" height="128" class="winner_img"></div>
		      <% end %> 
		   		<div>
				<h4><%= previous_winner.receiver.fullname rescue nil%></h4>
				<h5><%= previous_winner.receiver.department rescue nil%>&nbsp;Department</h5>
				<strong class="blue"><%= PropCount.find_by_receiver_id(previous_winner.receiver.id).points rescue nil%> </strong> Points (<%= previous_winner.prop_count rescue nil%>&nbsp;Voters) 
		
				<h5><%= previous_winner.end_cycle.strftime(" %B %Y") rescue nil%></h5> 
				</div>
		   		</div>
				
			<% end %>	
				
				
				
				
				
				
				
		   </div>
		   
		 <% end %>	
		   
	    </div>
	     

	     <% else %>
	        <div class="container" style="margin-bottom:100px">
		
				<center> <h1>Wall of Winner</h1></center>
		
					<div class="col-md-6">
					<img src="assets/charactor.png" alt="">
					</div>
					
					<div class="col-md-6">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					  <h1>There are no winners to show just yet.</h1>
						 <h4>
						 Once you pick the winner from Results page,the winner will get displayed here.  
						 </h4>
					</div>
				
				    </div>


	        <% end %>
      
   </div>   
</div>