
	<div id="info" class="award">
		
    <% if @wall_of_winner.present? %>
      <div class="container" style="margin-bottom:100px">
	  
      
      <div class="row">
	 
	  
	  <div class="col-md-12">
	  <h1 class="wow_heading"><%= @vote_cycle.award_program_name rescue nil %></h1>
	  </div>
				
				
	   
	  <div class="col-md-9">

	     <% unless @wall_of_winner.voteable.photo.blank? %>
	  
	  		<%= image_tag @wall_of_winner.voteable.photo.url,:width =>"128",:height => "128",:class => "voter_main_img" rescue nil %>
	      <% else %>
             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_main_img">  
	      <% end %>
          <h3 class="blue"><%= @wall_of_winner.voteable.fullname rescue nil %></h3>
           <p><p><%= @wall_of_winner.voteable.department rescue nil %>&nbsp;Department </p>
          
           
          <%= @wall_of_winner.voteable.email rescue nil %><br>
        
          <strong class="blue"><%= PropCount.find_by_receiver_id(@wall_of_winner.voteable.id).points rescue nil%> </strong> Points (<%= VoteCount.find_by_voteable_id(@wall_of_winner.voteable.id).vote_count rescue nil%> Voters )        </div>
	  
	  
	  
	  
	 
        <div class="col-md-3">

          <p><span class="button"><span style="font-size:40px; font-weight:bold"><%= PropCount.find_by_receiver_id(@wall_of_winner.voteable.id).points rescue nil%></span> Points</span></p>
          <p><strong>(<%= VoteCount.find_by_voteable_id(@wall_of_winner.voteable.id).vote_count rescue nil%> Voters )        </strong></p>
        </div>
        
      </div>
    
	  
	  
	 
      <hr>
       <h1 class="wow_heading">User Votes</h1>
    <% if @wall_of_winner_voter.present? %>
	   <% @wall_of_winner_voter.each do |winner_voter| %>
	   <div class="row">
				<div class="col-md-6">




					 <% unless winner_voter.voter.photo.blank? %>
	  
			  		<%= image_tag winner_voter.voter.photo.url,:width =>"128",:height => "128",:class => "voter_img" rescue nil %>
			      <% else %>
		             <img src="/assets/user2.png" alt="globe" width="128" height="128" class="voter_img">  
	      		<% end %>
					
						<strong><a href="#"><%= winner_voter.voter.fullname rescue nil%></a></strong>
						<strong><a href="#"></a></strong>
						<p><strong class="blue"></strong></p>
						<p><%= winner_voter.description rescue nil%>
						</p>
						<hr>
				 </div>
				 
		<% end %>		 
	<% end %>			 
				 
				 
				 
				 
				 
				
				 
				
				
				 
				 
				 
				 
				
		</div>
	 <% end %>			
				
				
	   
	   
      
    <% if @previous_winner.present? %>   
	    <h1 class = "wow_heading">Previous Winners</h1>
	   <div class="row" style="text-align:center">
	   					
			 <%  @previous_winner.each do |previous_winner| %>
			<div class="col-md-3">
		  <% unless previous_winner.voteable.photo.blank? %>		
			<div><%=image_tag previous_winner.voteable.photo.url ,:width => "128",:height => "128",:class =>"winner_img" rescue nil%></div>
	      <% else %>
             <div><img src="/assets/user2.png" alt="globe" width="128" height="128" class="winner_img"></div>
	      <% end %> 
	   		<div>
			<h4><%= previous_winner.voteable.fullname rescue nil%></h4>
			<h5><%= previous_winner.voteable.department rescue nil%>&nbsp;Department</h5>
			<strong class="blue"><%= PropCount.find_by_receiver_id(previous_winner.voteable.id).points rescue nil%> </strong> Points (<%= previous_winner.vote_count rescue nil%>&nbsp;Voters) 
	
			<h5><%= previous_winner.end_cycle.strftime(" %B %Y") rescue nil%></h5> 
			</div>
	   		</div>
			
		<% end %>	
			
			
			
		 
			
			
			
	   </div>
	   
	 
	   
    </div>
     <% else %>
       	<div class="container">
	
	<center> <h1>Wall of Winner</h1></center>
	
		<div class="col-md-6">
		<img src="assets/charactor.png" alt="">
		</div>
		
		<div class="col-md-6">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		 <h1>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.</h1>
		 <h4>
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis rhoncus erat, sed suscipit mi. Mauris euismod felis ac dolor consequat vestibulum.
		 </h4>
		</div>
	
	</div>
     <% end %> 	
      
   
	</div>
</div>	
</div>	
</div>