

<div id="info">
<div class="container" style="margin-bottom:100px">
      

        <%= form_for @setting ,:html => {:multipart => true} do |f| %>
        <% if @setting.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

            <ul>
            <% @setting.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
       

        <h1>Settings - General</h1>
        <table class="table table-hover table-responsive table-condensed">
          <tbody>
            <tr>
              <td>
                <label class="form-label">Company name:</label>
              </td>
              <td>
                 <%= f.text_field :company_name,:class=>"form-control" %>
                 <%= f.hidden_field :user_id , :value => current_user.id %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Company logo:</label>
              </td>
              <td>
                
                <% if params[:action] == "edit" %>
                <div style ="float:left;margin-right:10px;width:auto;">
                  <%= image_tag @setting.photo.url(:small) %>
               </div>
                <% end %>

               <div style="float:left;margin:40px 0 0 150px" id="file_tag"> 
                 <%= f.file_field :photo %>
                 <span id='val'><%= @setting.photo_file_name %></span>
                 <span id='button2'>Select File<%= f.file_field :photo,:id=>"button2"%></span>
               </div>

              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Website address:</label>
              </td>
              <td>
                 <%= f.text_field :website_address,:class=>"form-control" %>
              </td>
            </tr>
            <tr>
              <td>
                <label class="form-label">Core values:</label>
              </td>
              <td>
                <div class="row">

                    <%= f.fields_for :core_values do |builder| %>
            
                          <%= render "core_value_fields", :f => builder %>
            
                    <% end %>
                
                              
                  <%= link_to_add_fields "Add another core value", f, :core_values %>
                
                </div>
              </td>
            </tr>
              <tr>
              <td>
                
              </td>
              <td>
                  <%= f.submit "Save", :class => "btn btn-primary"%>
               
              </td>
            </tr>



          </tbody>
        </table>
        <% end %>
      </div>

  

  <script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
$('#button').click(function () {
    $("input[type='file']").trigger('click');
})

$("input[type='file']").change(function () {
    $('#val').text(this.value.replace(/C:\\fakepath\\/i, ''))
})
});//]]>  

</script>