              <div class="media ">
                <% @prop_displays.each do |prop_display| %>

                <div class="media-body" style="border-bottom: 1px solid #eee; margin-bottom: 10px;">
                  <h4 class="media-heading text-left">
                    <% if prop_display.receiver.photo.blank? %>
                    <img src="/assets/user2.png" class="voter_img">
                    <!--<img src="http://s3.amazonaws.com/meritize/public/attachments/user/299/small/batman.jpg?1405222546" class="voter_img">-->
                    <% else %>
                    <%= image_tag prop_display.receiver.photo.url(:small), :class => "voter_img" %>
                    <% end %>
                    <%= prop_display.receiver.fullname rescue nil%>
                  </h4>

                    <% if prop_display.core_values.nil? %>
                      <% else %>
                        Core values: <%= prop_display.core_values.gsub("-","") %><br>
                      <% end if %>
                      
                    <p class="text-left" style="width:auto">
                      <% if prop_display.points.nil? || current_user.admin_user.prop.assign_points == false %>
                      <!-- No points awarded -->
                      <!-- don't display points and don't display message as points is probably turned off. -->
                      <% else %>
                      <%= prop_display.points rescue nil%> point<% if prop_display.points != 1%>s<% end %><br>
                      <% end if %>
                      <%= prop_display.description rescue nil%>
                      <% if prop_display.created_at != prop_display.updated_at %>
                        <span style="font-size:9px">(edited <%= custom_time(prop_display,"updated_at") %>)</span>
                      <% end %>
                      <% # Let user edit the prop if they are the one that gave the prop %>
                      <% if current_user.id == prop_display.sender_id %>
                        <%= link_to edit_prop_display_path(prop_display.id) do %>
                          <span class="fa fa-pencil" title="Click to edit props"></span>
                        <% end %>
                      <% end %>
                    </p>

                      <div class="text-right" style="width:auto"><div style="float:right">
                      <%
                        if current_user.id == prop_display.receiver_id
                          if prop_display.description.nil?
                            @propdesc = " "
                          elsif prop_display.description.length > 110
                            @propdesc = prop_display.description[0,110] + "..."
                          else
                            @propdesc = prop_display.description
                          end
                          @sharemsg = "I got Props on @Meritize! " + @propdesc %>
                          <!-- 
                          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @public_prop_url %>" target="_blank"><img src="/assets/fb.png" class="circular_micro_img"></a>
                          <a href="https://plus.google.com/share?url=www.imeritize.com onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>
                          <a href="https://twitter.com/home?status=<%=@sharemsg.html_safe%>" target="_blank"><img src="/assets/developer.linkedin.com.ico" class="circular_micro_img"></a>
                          https://www.linkedin.com/shareArticle?summary=&url=http%3A%2F%2Fwww1%2Esmmconnect%2Ecom%2Fwelcome%2Fwilsonlearning_sept11&ro=false&title=http%3A%2F%2Fwww1%2Esmmconnect%2Ecom%2Fwelcome%2Fwilsonlearning_sept11&mini=true&source=
                        -->
                          <a href="https://twitter.com/home?status=<%=@sharemsg.html_safe%>" target="_blank"><img src="/assets/tw.png" class="circular_micro_img"></a>
                        <% end %>


                        <%= custom_time(prop_display,"created_at") %>
                        &nbsp;by&nbsp;<%= prop_display.sender.fullname rescue nil%>
                        <% if prop_display.sender.photo.blank? %>
                        <img src="/assets/user2.png"class="circular_micro_img">
                        <% else %>
                        <%= image_tag prop_display.sender.photo.url(:micro), :class => "circular_micro_img" %>
                        <% end %>
                      </div></div>

                      <div class="like"><%= link_to (image_tag "like.png"),like_prop_prop_displays_path(:id =>prop_display.id),:method => "post",:remote => true,:id => "like_prop"%>

                       <div class="like_count" id="like_count_<%=prop_display.id %>" val= "<%=prop_display.id %>"><%= link_to Like.where(:likeable_type=>"PropDisplay",:likeable_id=>prop_display.id).sum(:count) ,like_count_prop_displays_path(:id =>prop_display.id), :id=>"like_count",:method => "get",:remote=> true,:style=>"color:#fff" %></div></div>
                     </br> 




                   </div>
                  <% end %>

                 </div>
               