
<%= stylesheet_link_tag "facebox" %>
<%= javascript_include_tag "facebox" %>

	<div id="info">

		<div class="container " style="margin-bottom:100px">

      <div class="jumbotron ">
        <h1>Props for your peeps</h1> 
        <p><%= @prop.intro.html_safe rescue nil %><br></p>
        <p></p>
      </div>
      <div class="row ">
        <div class="col-md-4 ">
          <div class="media ">
            <a href="# " class="pull-left ">    <img src="assets/user2.png" width="64" height="64" class="media-object ">  </a> 
            <div class="media-body ">

          <% if current_user.admin_user.prop.present? %>    

            <% if current_user.admin_user.prop.assign_points == true %>
              <h4 class="media-heading ">Leaderboard</h4> 

              <p><%= @proppoints_winner.receiver.fullname rescue nil%> is one cool employee. He/She has <%= @proppoints_winner.points rescue nil%>&nbsp;&nbsp; points on props this month!</p>

            <% else %>
               <h4 class="media-heading ">Leaderboard</h4> 
              <p><%= @prop_winner.receiver.fullname rescue nil%> is one cool employee. HE/She has <%= @prop_winner.prop_count rescue nil%>&nbsp;&nbsp;props this month!
            <% end %> 

          <% end %>  

            </div>
            
          </div>
        </div>
        <div class="col-md-8 ">
          <div class="panel panel-default ">
            <div class="panel-heading ">
            <%= form_for(@prop_display) do |f| %>
              <b>Props for your peeps</b><br>
              <%= f.text_field :receiver_id, :class => "form-control ",:placeholder => "Enter the name of the person you want to send props to" %>
              <br/>
              <%= f.text_area :description, :class => "form-control ", :rows => 6 ,:placeholder => "Share with everyone what he or she did to deserve the props." %>
              <br/>
              <% if current_user.admin_user.prop.present? %>
                <% if current_user.admin_user.prop.assign_points == true %>
                  	Points : <% a = points.to_a.collect{|p| ["#{p}", p]} rescue nil%>
         
              <%= f.select :points,a ,{}, { :class => 'form-control' }  rescue "" %>

              <% end %>  
              <% end %>
              <%= f.hidden_field :admin_user_id, :value => current_user.admin_user.id %>
              <%= f.hidden_field :sender_id, :value => current_user.id %>
              <%= f.hidden_field :type_cycle ,:value => reset_type %>
              <%= f.hidden_field :cycle_start_date, :value => @prop.start_cycle rescue nil%>
              <%= f.hidden_field :cycle_end_date, :value => @prop.end_cycle rescue nil%>
              <%= f.hidden_field :prop_setting_id, :value => @prop.id rescue nil%>
               <br>
              <%= f.submit  "Submit Props", :class => "button button-small"%>
           
              <% end %>
            </div>
            </div>
          <div class="panel panel-default ">
          
              <%= javascript_tag do %>
  				function redirectToTrainer(trainerId){
     				window.location = "<%= url_for(:controller => 'prop_displays', :action => 'new') %>?id=" + trainerId;
  			} 
			<% end %>
             <%= select_tag "prop_about", options_for_select([["Show props about everyone",1], ["Show props about me only",2]],params[:id]),:class=>"form-control", :onchange=> "redirectToTrainer(this.value)" %>

            <div class="panel-body ">
              <div class="media ">
                 <% @prop_displays.each do |prop_display| %>
                <div class="media-body ">
                  <h4 class="media-heading text-left "><%= prop_display.receiver.fullname rescue nil%></h4> 

                  <p class="text-left"style="width:auto"><i><%= prop_display.description rescue nil%></i></p>

                  <p class="text-right" style="width:auto"><i class="fa fa-thumbs-up ">&nbsp; <i class="fa fa-mail-reply "></i>&nbsp;&nbsp;</i>&nbsp;<%= custom_time(prop_display) %>&nbsp;by&nbsp;<%= prop_display.sender.fullname rescue nil%> </p>

<div class="like"><%= link_to (image_tag "like.png"),like_prop_prop_displays_path(:id =>prop_display.id),:method => "post",:remote => true,:id => "like_prop"%></div>

       <div class="like_count" id="like_count_<%=prop_display.id %>" val= "<%=prop_display.id %>"><%= Like.where(:likeable_type=>"PropDisplay",:likeable_id=>prop_display.id).sum(:count)%></div>
         </br> 

<%#if Like.where(:likeable_type=>"PropDisplay",:likeable_id=>prop_display.id).sum(:count) >= 1
 %>
<%= link_to "ShowLike", like_count_prop_displays_path(:id =>prop_display.id), :id=>"like_count",:method => "get",:remote=> true %>
      <%# end %>

                   <hr>
                </div>
               <% end %>
               
              </div>
        
           
          <br></div>
       <% if @prop_displays_count.length >= 3 %>
            <div class="panel-footer ">
             <!--  <a class="btn btn-block btn-link btn-lg ">Click to see more&nbsp;<i class="fa fa-angle-double-down "></i></a> -->

     <%= link_to "Click to see more", prop_click_more_prop_displays_path(:user_id =>current_user.id),:method => "get",:remote => true,:id=>"prop_click_more",:class=>"btn btn-block btn-link btn-lg",:onclick =>"$(this).attr(\"href\",$(this).attr(\"href\")+\"&id=\"+$(\"#prop_about\").val())" %>
        <br></div>
      <% end %>  
       
        </div>
      </div>
      <!-- Example row of columns -->
     
      
    </div>
     
      
   
	</div>

  <script>
  var data = <%= raw @searchuser %>;

  jQuery(function() {

    jQuery( "#prop_display_receiver_id" ).autocomplete(
    {
       source:data
    });
      
  });
  </script>
     <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>



