<% content_for :styles do %>
 <%= stylesheet_link_tag "application"%>
 
 
<% end %>


<div id="masthead">

<div class="container">

<div class="masthead-pad">

<div class="masthead-text">
<h2>Payment History</h2>


</div> <!-- /.masthead-text -->

</div>

</div> <!-- /.container --> 

</div> <!-- /#masthead -->

<div id="content">

<div class="container"style="margin-bottom:100px">
        <%= form_for :vehicle do |f| %>
  
  <table>
      
     <tr>
       <td> <label>From Date</label></td>
        <td>
       <label class="label2">&nbsp;</label>
      </td>
     
      <td>
         <label >To Date</label>
      </td> 
     
       
     


    </tr> 

 
  <tr>
    
   
     <td> <%= f.text_field :start_date, :value=> "#{params[:vehicle][:start_date] if request.post?}",:class=>"form-control" %>  </td>
      <td>
       &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
   
     <td>
      <%= f.text_field :end_date, :value=> "#{params[:vehicle][:end_date] if request.post?}",:class=>"form-control" %>
        
   
    
     </td>
     <td>
       &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
   
     <td>
      <% if current_user.role? :productmanager %>
      <td>
          <%= f.select(:user, User.find(:all, :conditions=>"username is null and admin_user_id is null and status= true").collect {|p| [ p.fullname.presence || p.id, p.id ] }, {:prompt => 'Select User', :selected => "#{params[:vehicle][:user] if request.post?}"}, {:class=>"form-control"}) %>
       </td> 
      <% end %> 
     <td>
       &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
   
     <td>
     <td>
    
        <%= f.submit "Submit" ,:class => "btn btn-primary"%>
         
    </td>
      
   </tr>
   
  </table>
  <% end %>
  </br></br>



       <table class="table table-bordered table-striped table-highlight">

      <!-- CODE FOR PAYMENT HISTORY FOR ADMIN -->


       

    

<% if request.post?  %>
      <% if current_user.role? :admin %>  

        <thead>
            <tr>
            
              <th>Date</th>           
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
    
            <tr>
              
              <td><%= @start_date.strftime("%e %b %Y") %> &nbsp TO
                 &nbsp <%= @end_date.strftime("%e %b %Y") %></br> 
              </td>
                 
              
             <td> <%= @sum %></td>
              
            </tr>
            
           
          
          </tbody>

     
        <!-- CODE FOR PAYMENT HISTORY FOR PRODUCTADMIN -->

    
    <% elsif current_user.role? :productmanager %>

         <thead>
            <tr>
              
              <th>Date</th> 
              <th>User Name</th> 
                     
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
                  <% @subs_user = SubscriptionHistory.where("user_id = ?",@user) %>
                      
                   <% @subs_user.each do |subuser| %>                  
                <tr>
                   
                    <% @admin = AdminuserLog.where("created_at >='#{@start_date}' AND updated_at <='#{@end_date}' AND admin_user_id = ? AND sign_in_count >= '1'",subuser.id).select(:fullname).uniq.length rescue nil %>
                       <%@s1 = SubscriptionHistory.where("created_at >='#{@start_date}' AND updated_at <='#{@end_date}' AND user_id = '#{subuser.id}' ") rescue nil %>
                       
                       
                       <% @price1 = @s1.sum('price') %>
                      
                        
                                               
                  <td><%= @start_date.strftime("%e %b %Y") %> &nbsp TO
                         &nbsp <%= @end_date.strftime("%e %b %Y") %></br>
                  </td>
                 
                 <td><%= @sub_user = subuser.fullname rescue nil %></td>
                         
                          
              <td> <%= @sum1 = (@admin)*(@price1).to_f %></td>
              
              </tr>
            <% end %>
           
          </tbody>

    <% end %>
 
       </table>Send us an email support@imeritize.com if you have any questions or concerns about your billing and payments.

 <% end %>      

      </div> <!-- /.container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->
</div>


