<div id="masthead">

<div class="container">

<div class="masthead-pad">

<div class="masthead-text">
<h2>Payment History</h2>


</div> <!-- /.masthead-text -->

</div>

</div> <!-- /.container --> 

</div> <!-- /#masthead -->

<div id="content">

<div class="container">
      
       <table class="table table-bordered table-striped table-highlight">

      <!-- CODE FOR PAYMENT HISTORY FOR ADMIN -->


   <% if current_user.role? :admin %>  


        <thead>
            <tr>
              <th>Sr.No</th>
              <th>Date</th>           
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% number_of_months = 0..3 %>
             <% number_of_months.each.with_index(1) do |month_offset, index| %>

           </br> <% startdate = month_offset.months.ago.beginning_of_month  %>
            <% enddate = month_offset.month.ago.end_of_month  %>
            <tr>
              <td>   <%= index %></td>
              <td><%= startdate.strftime("%e %b %Y") %> &nbsp TO
                 &nbsp <%= enddate.strftime("%e %b %Y") %></br> 
               </td>


               <% @user = AdminuserLog.where("created_at >='#{startdate}' AND updated_at <='#{enddate}' AND admin_user_id = '#{current_user.id}' AND sign_in_count >= '1' ").select(:fullname).uniq.length %>




               <% @s = SubscriptionHistory.where("created_at >='#{startdate}' AND updated_at <='#{enddate}' AND user_id = '#{current_user.id}' ") %> 
            
              
           
              

               <% @price = @s.sum('price') %>
              <td> <%= (@user)*(@price).to_f %></td>
              
            </tr>
          
            <% end %>
          </tbody>















       


        <!-- CODE FOR PAYMENT HISTORY FOR PRODUCTADMIN -->

    
    <% elsif current_user.role? :productmanager %>





         <thead>
            <tr>
              <th>Sr.No</th>
              <th>Date</th> 
              <th>User Name</th> 
                     
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% number_of_months = 0..2 %>
             <% number_of_months.each.with_index(1) do |month_offset, index| %>

           </br> <% startdate = month_offset.months.ago.beginning_of_month  %>
            <% enddate = month_offset.month.ago.end_of_month  %>

            
               <% @user = User.where("username is null AND admin_user_id is null  ") rescue nil %>

                 <% @user.each_with_index do |adminuser,i| %>
                <tr>
                  <% i = 0 %>
                  <% i+1 %>
                  <% @subs_user = SubscriptionHistory.where("user_id = ?",adminuser.id)[i] %>
                 <td><%= index %></td>
                  <td><%= startdate.strftime("%e %b %Y") %> &nbsp TO
                         &nbsp <%= enddate.strftime("%e %b %Y") %></br>
                  </td>
                 
                  <td><%= @subs_user.fullname rescue nil%></td>
                

               <% @admin = AdminuserLog.where("created_at >='#{startdate}' AND updated_at <='#{enddate}' AND admin_user_id = ? AND sign_in_count >= '1'",adminuser.id).select(:fullname).uniq.length %>
<<<<<<< HEAD
=======

>>>>>>> aabc4c0cdd68bde98d7e10c675b288aefcc11e2e
                 

               <% @s = SubscriptionHistory.where("created_at >='#{startdate}' AND updated_at <='#{enddate}' AND user_id = '#{adminuser.id}' ") %> 
            
               <% @price = @s.sum('price') %>
              <td> <%= (@admin)*(@price).to_f %></td>
               <% end %>
              </tr>
            
            <% end %>
          </tbody>

    <% end %>

       </table>Send us an email support@imeritize.com if you have any questions or concerns about your billing and payments.

       <div align="right">
           <ul class="pagination"> <li><%= will_paginate @subscriptions  %></li></ul>
       </div>


      </div> <!-- /.container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->



<script>

$(function () {

Theme.init ();

});

</script>
