
<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Manage Plans</h2>
        
      </div> <!-- /.masthead-text -->
      
    </div>
    
  </div> <!-- /.container --> 
  
</div> <!-- /#masthead -->


<div id="content">

    <div class="container">   
    
       <div class="row">
    
           <div class="span12">
    
                   <%= form_for (@plan) do |f|  %>   
                <fieldset>
                     <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">                     
                           <label for="firstname" class="control-label">Plan name</label>
                           <div class="controls">
                           <%= f.text_field :name ,:class=>"form-control" %>   
                         </div> <!-- /controls -->       
                      </div> <!-- /control-group -->
                    </div>
                  </div>
                  
                    <div class="row">
                       <div class="col-md-6">
                         <div class="form-group">                    
                           <label for="lastname" class="control-label">Price</label>
                          <div class="controls">
                          <%= f.text_field :price,:class=>"form-control" %>
                          <span id="passstrength" class="help-block">
                          </div> <!-- /controls -->       
                        </div> <!-- /control-group -->
                       </div>
                     </div>
                  
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">                      
                          <label for="email" class="control-label"> All Users </label>
                          <div class="controls">
                           <%= f.cktext_area :description1,rows: 10,:class=>"form-control" %>
                        </div> <!-- /controls -->       
                      </div> <!-- /control-group -->
                     </div>
                  </div>
                  

                
                      <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">                    
                    <label for="email" class="control-label">Admin Users</label>

                    <div class="controls">
                      <%= f.cktext_area :description2,rows: 10,:class=>"form-control" %>
                     
                        </div>
                       </div>
                    </div> <!-- /controls -->       
                  </div>
                  

                  
                  
                    <div class="row">
                      <div class="col-md-6">
                      <div class="form-group">                     
                    <label for="email" class="control-label">Pricing</label>

                    <div class="controls">
                      <%= f.cktext_area :description3,rows: 10,:class=>"form-control" %>
                      
                    </div> <!-- /controls -->       
                  </div>
                  </div>   
                  </div>
                  <div class="form-actions">
                     <%= f.submit 'Update',:class=> "button button-primary"%>
                    
                  </div> <!-- /form-actions -->
               </fieldset>
              <% end %>     
              </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
</div> <!-- /#content -->
