
<div id="masthead">
  
  <div class="container">
    
    <div class="masthead-pad">
      
      <div class="masthead-text">
        <h2>Manage Plans</h2>
        
      </div> <!-- /.masthead-text -->
      
    </div>
    
  </div> <!-- /.container --> 
  
</div> <!-- /#masthead -->


<div id="content">

    <div class="container">   
    
       <div class="row">
    
           <div class="span12">
    
                   <%= form_for (@plan) do |f|  %>   
                <fieldset>
                   <div class="control-group">                     
                    <label for="firstname" class="control-label">Plan name</label>
                    <div class="controls">
                      
                      <%= f.text_field :name ,:class=>"input-medium" %>   
                    </div> <!-- /controls -->       
                  </div> <!-- /control-group -->
                  
                  
                  <div class="control-group">                     
                    <label for="lastname" class="control-label">Price</label>
                    <div class="controls">
                      <%= f.text_field :price,:class=>"input-medium" %>
                      <span id="passstrength" class="help-block">
                    </div> <!-- /controls -->       
                  </div> <!-- /control-group -->
                  
                  
                  <div class="control-group">                     
                    <label for="email" class="control-label">Description1</label>
                    <div class="controls">
                      <%= f.text_field :description1,:class=>"input-medium" %>
                     
                      
                    </div> <!-- /controls -->       
                  </div> <!-- /control-group -->
                  
                  
                 <div class="control-group">                     
                    <label for="email" class="control-label">Description2</label>
                    <div class="controls">
                      <%= f.text_field :description2,:class=>"input-medium" %>
                     
                      
                    </div> <!-- /controls -->       
                  </div>
                  
                   <div class="control-group">                     
                    <label for="email" class="control-label">Description3</label>
                    <div class="controls">
                      <%= f.text_field :description3,:class=>"input-medium" %>
                     
                      
                    </div> <!-- /controls -->       
                  </div>
          
                  <div class="form-actions">
                     <%= f.submit 'Update',:class=> "btn btn-primary btn-large"%>
                    
                  </div> <!-- /form-actions -->
               </fieldset>
              <% end %>     
              </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
</div> <!-- /#content -->
