 
<%= stylesheet_link_tag "dashboard.css" %>

<div id="info">
    
      
      <div class="container" style="margin-bottom:100px">
    
      <div id="deletesuccess" class="jumbotron">
        <h1>Vote for the <%= @vote_setting.award_program_name rescue nil%></h1> 
        <p><%= @vote_setting.intro_text.html_safe rescue nil%></p>
        <p><% if @votes.present? && @votes.vote_setting_id.present? && @vote_setting_enddate == @votes_last.cycle_end_date.to_date %>
                  You have previously voted for this award program. However, you may change the vote by voting again. 
                  <% end %></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="media">
            <a href="# " class="pull-left ">      </a> 
            <div class="media-body">

               <h4 class="media-heading">Past winners</h4>
                 <% if @winner.present? %>
                  <% @photo = User.find_by_id(@winner.voteable_id).photo rescue nil %>
                     <% unless @photo.blank? %>

                     <%= image_tag User.find_by_id(@winner.voteable_id).photo.url(:small),:width=>"64",:height=> "64",:class => "media-object" rescue nil%>
                     <% else %>
                    <img src="/assets/user2.png" width="64" height="64" class="media-object">
                    <% end %>
                      <p><%= @winner.end_cycle.strftime(" %B %Y") rescue nil %> - <%= User.find_by_id(@winner.voteable_id).fullname rescue nil %></p>
                  <% else %>
                          <p> No winner </p>
                  <% end %>
            </div>
            <p>&nbsp;</p>
            <div class="media-body">
               <h4 class="media-heading">My past votes</h4>
        <% if @votes_last.present? %>
        <% @photo = @votes_last.voteable.photo rescue nil %>
               <% unless @photo.blank? %>
               <%= image_tag @votes_last.voteable.photo.url(:small),:width=>"64",:height=> "64",:class => "media-object" rescue nil%>
               <% else %>
              <img src="/assets/user2.png" width="64" height="64" class="media-object">
              <% end %>
              <p><%= @votes_last.cycle_end_date.strftime(" %B %Y") rescue nil %> - <%= @votes_last.voteable.fullname rescue nil %></p>
        <% end %>      
            </div>
          </div>
        </div>

        <div class="col-md-8">
        <%= form_for(@vote) do |f| %>  
          <div class="panel panel-default">

            <div class="panel-heading ">
              <b>I vote for</b><br>
              <%= f.text_field :voteable_id, :class => "form-control1" %>
            </div>
            <div class="panel-body">
              <div class="media">
                <a href="# " class="pull-left "></a>
                <div class="media-body">
                 
                  <h4 class="media-heading text-left "> <div class='printchatbox'></div></h4>
                  <p>for the <i><%= @vote_setting.award_program_name.capitalize rescue nil %> </i>award because</p>
                  <%= f.text_area :description, :class => "form-control ", :rows => 6 %>
                   <%= f.hidden_field :voter_id, :value => current_user.id %>
                   <%= f.hidden_field :cycle_start_date, :value => @vote_setting.start_cycle rescue nil%>
                   <%= f.hidden_field :cycle_end_date, :value => @vote_setting.end_cycle rescue nil%>
                   <%= f.hidden_field :vote_setting_id, :value => @vote_setting.id rescue nil%>
                </div>
                <p>&nbsp;<br>
                  Core values exhibited:</p>
                <% unless @core_values.nil? %> 
                 <% @core_values.each do |a_value| %>
                    <div class="checkbox">
                   <label>
                    
                    <%= f.check_box(:core_values, { :multiple => true }, a_value.title,nil) %> <%= link_to a_value.title, "javascript:void(0);", :rel =>'tooltip',:title => "#{a_value.description rescue nil}"%>
                     
                  <br/>
                  </label>
                </div>
                <% end %>
               <% end %>
                <%= f.submit "Vote", :class => "button button-small"%>
              </div><br></div>
          </div>
           <% end %>
        </div>
      </div>
      <!-- Example row of columns -->
      <hr>
      
    </div>
     
      
   
  </div>

    
    <script>
    var data = <%= raw @searchuser %>;

    jQuery(function() {

      jQuery( "#vote_voteable_id" ).autocomplete(
      {
         source:data
      });


        
    });

    jQuery(document).ready(function(){
  
        jQuery("[rel='tooltip']").tooltip();
    })
    </script>

    <script>
     
    $('.form-control1').keyup(function(event) {
      newText = event.target.value;
      $('.printchatbox').text(newText);
    });
    $('.form-control1').blur(function(event) {
      //alert("Amol");
      newText = event.target.value;
      $('.printchatbox').text(newText);
    });




      </script>


     

     <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>
     
