
<%= stylesheet_link_tag "dashboard.css" %>

<div id="info">
    
      
      <div class="container" style="margin-bottom:100px">
    
      <div id="deletesuccess" class="jumbotron">
        <h1>Vote for the <%= @vote_setting.award_program_name rescue nil%></h1> 
        <p><%= @vote_setting.intro_text.html_safe rescue nil%></p>
        <p><% if @votes.present? && @votes.vote_setting_id.present? && @vote_setting_enddate == @votes_last.cycle_end_date.to_date %>
                  You have already given a vote for this award program,you may change the vote by voting again. 
                  <% end %></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="media">
            <a href="# " class="pull-left ">      </a> 
            <div class="media-body">
               <h4 class="media-heading">Past winners</h4>
              <img src="/assets/user2.png" width="64" height="64" class="media-object">
              <p>November 2013 - Jen Joes</p>
            </div>
            <p>&nbsp;</p>
            <div class="media-body">
               <h4 class="media-heading">My past votes</h4>
              <img src="/assets/user2.png" width="64" height="64" class="media-object">
              <p>November 2013 - Jeff Fries</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
        <%= form_for(@vote) do |f| %>  
          <div class="panel panel-default">

            <div class="panel-heading ">
              <b>I vote for</b><br>
              <%= f.text_field :voteable_id, :class => "form-control1" %>
            </div>
            <div class="panel-body">
              <div class="media">
                <a href="# " class="pull-left "></a>
                <div class="media-body">
                 
                  <h4 class="media-heading text-left "> <div class='printchatbox'></div></h4>
                  <p>for the <i><%= @vote_setting.award_program_name.capitalize %> </i>award because</p>
                  <%= f.text_area :description, :class => "form-control ", :rows => 6 %>
                   <%= f.hidden_field :voter_id, :value => current_user.id %>
                   <%= f.hidden_field :cycle_start_date, :value => @vote_setting.start_cycle %>
                   <%= f.hidden_field :cycle_end_date, :value => @vote_setting.end_cycle %>
                   <%= f.hidden_field :vote_setting_id, :value => @vote_setting.id %>
                </div>
                <p>&nbsp;<br>
                  Core values exhibited:</p>
                  
                 <% @core_values.each do |a_value| %>
                    <div class="checkbox">
                   <label>
                    <%= f.check_box(:core_values, { :multiple => true }, a_value.title,nil) %> <%= a_value.title %>
                  <br/>
                  </label>
                </div>
                <% end %>
               
                <%= f.submit :class => "button button-small"%>
              </div><br></div>
          </div>
           <% end %>
        </div>
      </div>
      <!-- Example row of columns -->
      <hr>
      
    </div>
     
      
   
  </div>


  <script>
  var data = <%= raw @searchuser %>;

  jQuery(function() {

    jQuery( "#vote_voteable_id" ).autocomplete(
    {
       source:data
    });


      
  });
  </script>

<script>
 
$('.form-control1').keyup(function(event) {
  newText = event.target.value;
  $('.printchatbox').text(newText);
});
$('.form-control1').blur(function(event) {
  //alert("Amol");
  newText = event.target.value;
  $('.printchatbox').text(newText);
});




  </script>




     <%= stylesheet_link_tag "jquery-ui-1.8.16.custom.css" %>