<!DOCTYPE html>
<html>
<head>
<title>Meritize</title>

<%= csrf_meta_tag %>
<%= yield :scripts %>
</head>
<body>

<header>

<nav class="round">
<ul>

<% if signed_in? %>
		<li><%= link_to "Home", user_root_path %></li>
		<li><%= link_to "Profile", current_user %></li>

		<li><%= link_to "History", history_path %></li>
	<% if current_user.role? :admin %>   
		<li><%= link_to "Setting", settings_path %></li>
    <% end %> 		
<% end %>



<% if signed_in? %>
<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
<% else %>

<p> <%= link_to "Sign up now!", signup_path %></p>

<% end %>

</ul>
</nav>
</header>

<section class="round">
	<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>
<center>
<%= yield %>
</center>
</section>


</body>
</html>
