<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	


	<title>Meritize</title>
         <%= stylesheet_link_tag "bootstrap.min.css","theme.css"%>
         <%= csrf_meta_tags %>
         <%= yield :scripts %>
	<!-- javascript -->

 <%= javascript_include_tag "application","jquery.js","bootstrap.js","theme.js" %>
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
									
<%= yield %>

</section>

</body>
</html>
